@use "../utils/mixins" as mxn;
@use "../utils/variables" as var;

.section__padding {
  padding-top: 244px;
  padding-bottom: 300px;
}
.scrolled {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  background-color: var.$primary-color;
  box-shadow: 0px 12px 40px rgba($color: #000000, $alpha: 0.1);
  // border: 1px solid #fff;
}

header {
  z-index: 100 !important;
}
nav {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
  background: var.$primary-color;
  transition: 0.5s;
  z-index: 99999px !important;
  .active {
    font-weight: 700;
  }
  .offcanvas {
    background-color: var.$primary-color;
  }
  .navbar-toggler {
    border-radius: 0;
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler-icon {
    background-image: url(../../image/home/menu.svg);
    border: none;
  }
  .btn-close {
    background-image: url(../../image/home/close.svg);
  }
  .navbar-nav {
    gap: 30px;
  }
  .login {
    &:hover {
      background: #fff;
      a {
        color: var.$primary-color !important;
      }
    }
  }
}
