#backtop {
   position: fixed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 50%;
   bottom: -100px;
   right: 25px;
   width: 50px;
   height: 50px;
   z-index: -1;
   background-color: #FFA63A;
   animation: bgcolor infinite 4s;
   transition: 0.5s;
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
}
@keyframes bgcolor{
   0%
   {
      background: #e74c3c;
   }
   20%
   {
      background: #2980b9;
   }
   40%
   {
      background: #f1c40f;
   }
   60%
   {
      background: #8e44ad;
   }
   80%
   {
      background: #34495e;
   }
   100%
   {
      background: #e74c3c;
   }
}

#backtop.backtop-show {
   bottom: 25px;
   z-index: 10;
}

